<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width =device-width">
  <title>Diva's Profile</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class ='body'>
<div class="background-col">
   <div class="container" style="margin-top :5%;">
     <div class="row">
       <!-- Team Member 1 -->
       <div class="col-xl-5 col-md-5">
         <div class="card border-0 shadow">
           <img src="{% static 'img/diva.JPG' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Diva Amelia</h5>
             <ul class="list-unstyled mb-0">
               <!-- Linkedin -->
               <a class="p-2 fa-lg fb-ic" href="https://id.linkedin.com/in/diva-amelia-12b213126" target="_blank">
                 <i class="fab fa-linkedin text-black-50"> </i>
               </a>
               <!-- Twitter -->
               <a class="p-2 fa-lg tw-ic" href="https://twitter.com/divaamelia" target="_blank" >
                 <i class="fab fa-twitter text-black-50"> </i>
               </a>
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/divaamelia/" target="_blank">
                 <i class="fab fa-instagram text-black-50"> </i>
               </a>
              </ul>
           </div>
         </div>
       </div>

       <div class="col-md-7">
           <ul class="accordion child">
               <li class='acc-list'>
                 <a class="panels" href="#">Activities</a>
                 <ul class="inside">
                     <li>I eat</li>
                     <li>I pray</li>
                     <li>I love</li>
                     <li>I code</li>
                 </ul>
               </li>
               <li class='acc-list'>
                 <a class="panels" href="#">Experiences</a>
                 <ul class="inside">
                   <li><strong>Too many to list</strong> </li>
                 </ul>
               </li>
               <li class='acc-list'>
                 <a class="panels" href="#">Achievements</a>
                 <ul class="inside">
                   <li>Highest National Exam (UN) Score @ Al-Jabr Elementary School</li>
                   <li>Perfect Mark at Mathematics National Exam (UN) During Elementary & JHS</li>
                </ul>
               </li>
               <li class='acc-list'>
                 <a class="panels" href="#">Educations</a>
                 <ul class="inside">
                   <li>Al-Jabr Elementary School</li>
                   <li>85 Junior High School</li>
                   <li>34 Senior High School</li>
                   <li>Information Systems, University of Indonesia</li>
                 </ul>
               </li>
          </div>
        </div>
        <div class="containerbrew">
          <button type="button" class="btn btn-warning nav-link theme">Change Theme</button>
        </div>
</div>
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src = "{% static 'js/jquery.js' %}"></script>
<script src = "{% static 'js/jquery_theme.js' %}"></script>
<script src = "{% static 'js/jquery_accordion.js' %}"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>


</body>
</html>
